apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

generatorOptions:
 disableNameSuffixHash: true

configMapGenerator:
  - name: istio-system-values-envspecific
    namespace: istio-system
    files:
      - values.yaml=values.yaml
      
configurations:
  - kustomizeconfig.yaml