---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: velero
resources:
  - namespace.yaml
  - helmrepository.yaml
  - helmrelease.yaml
configMapGenerator:
  - name: velero-values
    files:
      - values.yaml=values.yaml
configurations:
  - kustomizeconfig.yaml
