
loki:
  pattern_ingester:
    enabled: true
  limits_config:
    allow_structured_metadata: true
    volume_enabled: true
    retention_period: 672h
  compactor:
    retention_enabled: true 
    delete_request_store: ${LOKI_STORAGE_TYPE}
  ruler:
    enable_api: true
    storage:
      type: ${LOKI_STORAGE_TYPE}
      ${LOKI_STORAGE_TYPE}:
        region: auto
        bucketnames: ${LOKI_BUCKET}
        s3forcepathstyle: false
      alertmanager_url: http://alertmanager-operated.monitoring:9093 
  schemaConfig:
    configs:
    - from: "2020-12-11"
      index:
        period: 24h
        prefix: index_
      object_store: ${LOKI_STORAGE_TYPE}
      schema: v13
      store: tsdb
  storage:
    type: ${LOKI_STORAGE_TYPE}
    bucketNames:
      chunks: "${PROJECT}${ENVIRONMENT}chunks"
      ruler: "${PROJECT}${ENVIRONMENT}ruler" 
      admin: "${PROJECT}${ENVIRONMENT}admin"
      ${LOKI_STORAGE_TYPE}:
        endpoint: ${LOKI_ENDPOINT}
        region: auto
        accessKeyId: ${LOKI_ACCESS_KEY_ID}
        secretAccessKey: ${LOKI_ACCESS_SECRET_KEY}
        signatureVersion: v4
        s3ForcePathStyle: false
        insecure: false
        http_config: {}
    use_thanos_objstore: true
    # object_store:
    #   ${LOKI_CLOUD_TYPE}:
    #     container_name: ${LOKI_CONTAINER_NAME}
    #     account_name: ${LOKI_ACCOUNT_NAME}
    #     account_key: ${LOKI_ACCOUNT_KEY}
    #     use_managed_identity: false
  storage_config:
    ${LOKI_CLOUD_TYPE}:
      s3: s3://${LOKI_ACCESS_KEY_ID}:${LOKI_ACCESS_SECRET_KEY}@${LOKI_ENDPOINT}/${LOKI_BUCKET}
      region: auto
      bucketnames: ${LOKI_BUCKET}
      s3forcepathstyle: false
    tsdb_shipper:
      cache_ttl: 168h
  ingester:
    chunk_encoding: snappy
  tracing:
    enabled: true
  querier:
    # Default is 4, if you have enough memory and CPU you can increase, reduce if OOMing
    max_concurrent: 4

  auth_enabled: false

deploymentMode: Distributed

ingester:
  replicas: 3
  zoneAwareReplication:
    enabled: false
querier:
  replicas: 3
  maxUnavailable: 2
queryFrontend:
  replicas: 2
  maxUnavailable: 1
queryScheduler:
  replicas: 2
distributor:
  replicas: 3
  maxUnavailable: 2
compactor:
  replicas: 1
indexGateway:
  replicas: 2
  maxUnavailable: 1
ruler:
 replicas: 1
 maxUnavailable: 1

# optional experimental components
bloomPlanner:
  replicas: 0
bloomBuilder:
  replicas: 0
bloomGateway:
  replicas: 0

# Zero out replica counts of other deployment modes
backend:
  replicas: 0
read:
  replicas: 0
write:
  replicas: 0

singleBinary:
  replicas: 0

monitoring:
  dashboards:
    enabled: true
    namespace: monitoring
  serviceMonitor:
    enabled: true